@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to My API</h1>

<h2>Company Information</h2>
<p>Name: @ViewBag.CompanyInfo.Name</p>
<p>Location: @ViewBag.CompanyInfo.Location</p>
<p>Year Founded: @ViewBag.CompanyInfo.YearFounded</p>

<h2>Random Number</h2>
<p>@ViewBag.RandomNumber</p>
